<div class="row">
  <div class="col-lg-4">
    <div class="card">
      <div class="card-header">
        <h2>Resend confirmation instructions</h2>
      </div>
      <div class="card-body">
        <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="form-group mb-3">
            <%= f.label :email, class: 'h3' %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
          </div>

          <div class="form-group mb-3">
            <%= f.submit "Resend confirmation instructions", class: 'btn btn-primary' %>
          </div>

          <div class="actions mb-3">
            <%= f.submit "Sign up", class: 'btn btn-primary' %>
            <%= link_to "Log in", new_session_path(resource_name), class: 'btn btn-outline-primary' %>
          </div>
        <% end %>
        <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
      </div>
    </div>
  </div>
</div>

